@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --primary-color: #161615;
    --secondary-color: #F2762E;
    --third-color: #F2F2F2;
    --fourth-color: #1A1826;
    --primary-shadow: #F25430;
    --secondary-shadow: #F26E50;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--primary-color);
    height: 100vh;
}

a {
    text-decoration: none;
}

.skills-nav {
    width: 100%;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px 100px;
}

.logo {
    max-height: 75px;
    border-radius: 100px;
    box-shadow: 0 3px 20px var(--secondary-shadow);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: var(--third-color);
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--secondary-color);
    transition: .3s;
    bottom: 0;
}

nav ul li a:hover:after {
    width: 100%;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
}

.header-skills {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    background: var(--secondary-color);
    text-transform:uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

.container-skills img {
    padding: 1.25rem;
}

.icon {
    width: 10.875rem;
    height: 10.25rem;
}

.icon-card {
    background: transparent;
    border-radius: 100px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

.btn {
    align-self: center;
    color: var(--primary-color);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.btn:hover {
    background: transparent;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}